.form-controls {
    margin: 1rem 0;
}

.form-controls label 
{

   font-size: 25px;
   
}
.form-controls input {
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 0.25rem;
    font-size: 30px;
}

.form-controls input {
    border: 1px solid #a1a1a1;
    font: inherit;
    border-radius: 3px;
}

.form-controls input:focus {
    outline-color: #133cc3;
}
main{
    margin-top: 30px;
    margin-bottom: 30px;
}
body {
padding: 0;
}